[submodule "third_party/nugget"]
	path = third_party/nugget
	url = https://github.com/pcsx-redux/nugget.git
[submodule "third_party/midifile"]
	path = third_party/midifile
	url = https://github.com/craigsapp/midifile
[submodule "third_party/cxxmidi"]
	path = third_party/cxxmidi
	url = https://github.com/5tan/cxxmidi
